* {
    font-family: Arial

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
<<<<<<< HEAD
    
    color: #880303;
=======
    font-size: 36px;
    color: #232323;
>>>>>>> 10fc851ba6ed16ff3659be3146fc273e55a56ce1
    margin: 0;
    text-align: center;
}

nav {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(208, 255, 0);
    
}

a:hover {
    text-decoration: underline;
}